{
   "plugins": [
     ["@semantic-release/commit-analyzer", {
       "preset": "eslint"
     }],
     ["@semantic-release/release-notes-generator", {
        "preset": "eslint"
     }],
     ["@semantic-release/github", {
       "assets": [
         "*.js",
         "*.json"
       ]
     }],
     "@semantic-release/npm"
   ]
}
